@charset "utf-8";

/* pretendard */
@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard/Pretendard-Thin.eot');
    src: url('font/Pretendard/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard/Pretendard-Thin.woff2') format('woff2'),
        url('font/Pretendard/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard/Pretendard-Regular.eot');
    src: url('font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard/Pretendard-SemiBold.eot');
    src: url('font/Pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('font/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard/Pretendard-Light.eot');
    src: url('font/Pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard/Pretendard-Light.woff2') format('woff2'),
        url('font/Pretendard/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard/Pretendard-Black.eot');
    src: url('font/Pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard/Pretendard-Black.woff2') format('woff2'),
        url('font/Pretendard/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard/Pretendard-Bold.eot');
    src: url('font/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('font/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard/Pretendard-ExtraBold.eot');
    src: url('font/Pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('font/Pretendard/Pretendard-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard/Pretendard-ExtraLight.eot');
    src: url('font/Pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
        url('font/Pretendard/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard/Pretendard-Medium.eot');
    src: url('font/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('font/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Noto Sans */
@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-LightItalic.eot');
    src: url('font/NotoSans/NotoSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-LightItalic.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-MediumItalic.eot');
    src: url('font/NotoSans/NotoSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-MediumItalic.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-Medium.eot');
    src: url('font/NotoSans/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-Medium.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-Regular.eot');
    src: url('font/NotoSans/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-Regular.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-SemiBoldItalic.eot');
    src: url('font/NotoSans/NotoSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-SemiBoldItalic.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-SemiBold.eot');
    src: url('font/NotoSans/NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-SemiBold.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-ThinItalic.eot');
    src: url('font/NotoSans/NotoSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-ThinItalic.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-Black.eot');
    src: url('font/NotoSans/NotoSans-Black.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-Black.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-Thin.eot');
    src: url('font/NotoSans/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-Thin.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-BlackItalic.eot');
    src: url('font/NotoSans/NotoSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-BlackItalic.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-BoldItalic.eot');
    src: url('font/NotoSans/NotoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-BoldItalic.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/font/NotoSans/font/NotoSans/font/NotoSans/NotoSans-Bold.eot');
    src: url('font/NotoSans/font/NotoSans/font/NotoSans/font/NotoSans/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/font/NotoSans/font/NotoSans/font/NotoSans/NotoSans-Bold.woff2') format('woff2'),
        url('font/NotoSans/font/NotoSans/font/NotoSans/font/NotoSans/NotoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/font/NotoSans/font/NotoSans/NotoSans-ExtraBoldItalic.eot');
    src: url('font/NotoSans/font/NotoSans/font/NotoSans/NotoSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/font/NotoSans/font/NotoSans/NotoSans-ExtraBoldItalic.woff2') format('woff2'),
        url('font/NotoSans/font/NotoSans/font/NotoSans/NotoSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/font/NotoSans/NotoSans-ExtraLight.eot');
    src: url('font/NotoSans/font/NotoSans/NotoSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/font/NotoSans/NotoSans-ExtraLight.woff2') format('woff2'),
        url('font/NotoSans/font/NotoSans/NotoSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/font/NotoSans/NotoSans-ExtraBold.eot');
    src: url('font/NotoSans/font/NotoSans/NotoSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/font/NotoSans/NotoSans-ExtraBold.woff2') format('woff2'),
        url('font/NotoSans/font/NotoSans/NotoSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-ExtraLightItalic.eot');
    src: url('font/NotoSans/NotoSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-ExtraLightItalic.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-Light.eot');
    src: url('font/NotoSans/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-Light.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('font/NotoSans/NotoSans-Italic.eot');
    src: url('font/NotoSans/NotoSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSans/NotoSans-Italic.woff2') format('woff2'),
        url('font/NotoSans/NotoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* WAGURI */
@font-face {
    font-family: 'WAGURI TTF';
    src: url('WAGURITTF.eot');
    src: url('WAGURITTF.eot?#iefix') format('embedded-opentype'),
        url('WAGURITTF.woff2') format('woff2'),
        url('WAGURITTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
html, body {
    font-size: 62.5%;
}
body {
    font-family: 'Pretendard';
    color: #fff;
    background-color: #000;
    transition: 0.7s;
    overflow-x: hidden;
}
body.on {
    background-color: #fff;
    color: #333;
    transition: 0.7s;
}