@charset "utf-8";
@import url('reset.css');

/* intro ---------------------------------------- */
.intro {
    width: 100%;
    height: 100vh;
    color: #fff;
}

.intro .inner {
    width: calc(100% - 6rem);
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.intro .inner .text {
    font-family: 'Noto Sans';
    font-size: 2rem;
    padding-top: 5rem;
}

.intro .inner .text ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.intro .inner .qr_mobile {
    display: flex;
    justify-content: end;
    text-align: center;
    font-size: 16px;
    margin-top: 5rem;
    opacity: 1;
    transition: 0.7s;
}

.intro .inner .qr_mobile .qr_wrap img {
    width: 6rem;
}

.intro .inner .tit {
    font-family: 'WAGURI TTF';
    font-size: 14vw;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.intro .inner .tit .tit_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: title 1s ease-in-out forwards 0s;
}

@keyframes title {
    0% {
        transform: translateY(-30rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.intro .inner .tit .tit_wrap ul {
    display: flex;
}

.intro .inner .tit .tit_wrap ul .p {
    padding-right: 9vw;
    position: relative;
}

.intro .inner .tit .tit_wrap ul .p::before {
    content: '';
    background: url('../img/01_intro/title-01.png') center center / 100% no-repeat;
    width: 14vw;
    height: 15vw;
    position: absolute;
    right: -15%;
    bottom: 10%;
}

.intro .inner .tit .tit_wrap ul .f {
    padding-right: 9vw;
    position: relative;
}

.intro .inner .tit .tit_wrap ul .f::before {
    content: '';
    background: url('../img/01_intro/title-02.png') center center / 100% no-repeat;
    width: 13vw;
    height: 15vw;
    position: absolute;
    right: -10%;
    bottom: 10%;
}

.intro .inner .tit .tit_wrap ul .i {
    position: relative;
    padding-right: 12vw;
}

.intro .inner .tit .tit_wrap ul .i::before {
    content: '';
    background: url('../img/01_intro/title-03.png') center center / 100% no-repeat;
    width: 12vw;
    height: 15vw;
    position: absolute;
    right: 12%;
    bottom: 10%;
}

.intro .inner .scroll {
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translate(0, -50%);
    animation: scroll 2s linear infinite;
}

.intro .inner .scroll .scroll_btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0);
    }
}

/* header --------------------------------------- */
.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    transition: 0.7s;
}

.header .inner {
    width: calc(100% - 6rem);
    height: 8rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .logo {
    width: 6.5rem;
}

.header .inner .logo .white {
    display: none;
}

.header .inner .logo img {
    width: 100%;
}

.header .inner .nav .gnb {
    display: flex;
    gap: 5rem;
    font-size: 2.5rem;
}
.header .inner .nav_mobile {
    display: none;
}
.header .inner .menu_bar {
    width: 100px;
    height: 3px;
    background-color: #555;
    position: absolute;
    left: 0;
    bottom: 15px;
}

.header .inner .menu_bar span {
    position: absolute;
    left: -99999999999px;
}

.header.on {
    display: block;
    transition: 0.7s;
}

.header.active {
    background-color: #000;
    color: #fff;
    transition: 0.7s;
}

.header.active .inner .logo .black {
    display: none;
}

.header.active .inner .logo .white {
    display: block;
}

/* about ---------------------------------------- */
.about {
    width: 100%;
    padding-top: 18rem;
}

.about .inner {
    max-width: 1504px;
    width: calc(100% - 4rem);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.about .inner .deta {
    width: 25%;
}

.about .inner .deta .image {
    max-width: 35.2rem;
    width: 23.04vw;
    max-height: 45.2rem;
    height: 30.05vw;
    background-color: #999;
}

.about .inner .deta .text {
    width: 100%;
    margin-top: 7rem;
}

.about .inner .deta .text ul {
    font-size: 20px;
}

.about .inner .deta .text ul li {
    display: flex;
    margin-bottom: 10px;
}

.about .inner .deta .text ul>li>span:nth-child(1) {
    width: 9.6rem;
    font-weight: 600;
    margin-right: 10px;
}

.about .inner .info {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.about .inner .info h2 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    font-weight: 600;
}

.about .inner .info .certificate ul {
    border-left: 5px solid #ddd;
    padding-left: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about .inner .info .certificate ul li {
    display: flex;
    gap: 15px;
    align-items: center;
}

.about .inner .info .certificate ul li span:nth-child(1) {
    font-size: 20px;
    font-weight: 500;
}

.about .inner .info .certificate ul li span:nth-child(2) {
    font-size: 18px;
    color: #999;
}

.about .inner .info .education ul {
    border-left: 5px solid #ddd;
    padding-left: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about .inner .info .education ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.about .inner .info .education ul li span:nth-child(1) {
    font-size: 20px;
    font-weight: 500;
    white-space: wrap;
    word-break: keep-all;
}

.about .inner .info .education ul li span:nth-child(2) {
    font-size: 18px;
    color: #999;
}

.about .inner .info .skill h2 {
    position: relative;
}

.about .inner .info .skill h2::after {
    content: '아이콘에 마우스를 올려보세요.';
    font-size: 16px;
    font-weight: normal;
    color: #999;
    position: absolute;
    left: 10rem;
    top: 50%;
    transform: translateY(-50%);
}

.about .inner .info .skill .icon {
    display: flex;
    gap: 25px;
}

.about .inner .info .skill .icon li {
    height: 5rem;
}

.about .inner .info .skill .icon li img {
    height: 100%;
}

.about .inner .info .skill .text {
    margin-top: 20px;
    font-size: 16px;
    color: #999;
}

.about .inner .info .skill .text li {
    display: none;
}

.about .inner .info .skill .text li.on {
    display: block;
}

/* project ------------------------------------- */
.project {
    width: 100%;
    padding-top: 18rem;
}

.project .inner {
    max-width: 150.4rem;
    width: calc(100% - 4rem);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project .inner .left_box {
    width: 49%;
}

.project .inner .mokup {
    text-align: center;
    position: relative;
}

.project .inner .mokup .pc {
    background: url('../img/03_project/mokup-pc.png') center center / 100% no-repeat;
    max-width: 66rem;
    width: 43.88vw;
    max-height: 55.3rem;
    height: 36.76vw;
    position: relative;
}

.project .inner .mokup .pc p {
    font-size: 16px;
    color: #999;
    position: absolute;
    left: 50%;
    top: -60px;
    transform: translate(-50%, 0);
}

.project .inner .mokup .pc .pc_box {
    max-width: 63rem;
    width: 41.88vw;
    max-height: 36rem;
    height: 23.5vw;
    background-color: #999;
    overflow: hidden;
    position: absolute;
    left: 0.8vw;
    top: 0.8vw;
    z-index: 9;
}

.project .inner .mokup .pc .pc_box img {
    width: 100%;
}

.project .inner .mokup .pc .pc_box:hover img {
    animation: pcSlide 12s infinite alternate ease-in-out;
}

@keyframes pcSlide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-85%);
    }

    100% {
        transform: translateY(0);
    }
}

.project .inner .mokup .mobile {
    background: url('../img/03_project/mokup-mobile.png') center center / 100% no-repeat;
    width: 16.7rem;
    height: 34rem;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
}

.project .inner .mokup .mobile .moblie_box {
    width: 15.2rem;
    height: 32.8rem;
    overflow: hidden;
    position: absolute;
    left: 8px;
    top: 6px;
    border-radius: 20px;
}

.project .inner .mokup .mobile .moblie_box img {
    width: 100%;
}

.project .inner .mokup .mobile .moblie_box:hover img {
    animation: mobileSlide 12s infinite alternate ease-in-out;
}

@keyframes mobileSlide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-80%);
    }

    100% {
        transform: translateY(0);
    }
}

.project .inner .right_box {
    width: 45%;
}

.project .inner .right_box .text .tit h3 {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1;
    position: relative;
}
.vasol .inner .right_box .text .tit h3::before {
    content: '';
    background: url('../img/03_project/VASOL_QR.jpg') center center / 100% no-repeat;
    width: 5rem;
    height: 5rem;
    background-color: #555;
    position: absolute;
    left: 19rem;
    top: 50%;
    transform: translateY(-50%);
}
.project .inner .right_box .text .tit p {
    font-size: 20px;
    white-space: wrap;
    word-break: keep-all;
}

.project .inner .right_box .text .info {
    margin-top: 5rem;
}

.project .inner .right_box .text .info ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project .inner .right_box .text .info ul li {
    font-size: 20px;
    display: flex;
}

.project .inner .right_box .text .info ul li span:nth-child(1) {
    margin-right: 4rem;
    font-weight: 600;
}

.project .inner .right_box .text .info ul li:nth-child(2) span:nth-child(3) {
    border-bottom: 1px solid #333;
    position: relative;
    cursor: pointer;
}

.project .inner .right_box .text .info ul li:nth-child(2) a::before {
    content: '';
    background: url('../img/03_project/shotcut.png') center center / 100% no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: -30px;
    top: 15%;
    cursor: pointer;
}

.project .inner .btn button {
    border: 1px solid #000;
    background-color: transparent;
    width: 22rem;
    height: 7rem;
    margin-top: 5rem;
    cursor: pointer;
    transform: translate(5px);
}

.project .inner .btn .process {
    font-size: 18px;
    margin-right: 3rem;
    color: #000;
}

.project .inner .btn .process:hover {
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.3);
}

.project .inner .btn .website {
    font-size: 18px;
    background-color: #000;
    color: #fff;
}

.project .inner .btn .website:hover {
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.3);
}
.crocs .inner .right_box .text .tit h3::before {
    content: '';
    background: url('../img/03_project/CROCS_QR.jpg') center center / 100% no-repeat;
    width: 5rem;
    height: 5rem;
    background-color: #555;
    position: absolute;
    left: 19rem;
    top: 50%;
    transform: translateY(-50%);
}

.crocs .inner .mokup .pc .pc_box:hover img {
    animation: crocsSlide 12s infinite alternate ease-in-out;
}

.crocs .inner .mokup .mobile .moblie_box {
    width: 15.2rem;
    height: 32.8rem;
    overflow: hidden;
    position: absolute;
    left: 8px;
    top: 6px;
    border-radius: 20px;
}

@keyframes crocsSlide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-84%);
    }

    100% {
        transform: translateY(0);
    }
}

.crocs .inner .mokup .mobile .moblie_box:hover img {
    animation: crocs_mobileSlide 12s infinite alternate ease-in-out;
}

@keyframes crocs_mobileSlide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-83%);
    }

    100% {
        transform: translateY(0);
    }
}

.paulbassett .inner .left_box .mokup .pc {
    margin: 0 auto;
}

.paulbassett .inner .left_box .mokup .pc .pc_box:hover img {
    animation: paulbassettSlide 12s infinite alternate ease-in-out;
}

@keyframes paulbassettSlide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-82%);
    }

    100% {
        transform: translateY(0);
    }
}

.lejour .inner .left_box .mokup .pc {
    margin: 0 auto;
}

.lejour .inner .left_box .mokup .pc .pc_box:hover img {
    animation: lejourSlide 12s infinite alternate ease-in-out;
}

@keyframes lejourSlide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-79%);
    }

    100% {
        transform: translateY(0);
    }
}

.kt {
    padding-top: 15rem;
}

.kt .inner .left_box {
    width: 49%;
}

.kt .inner .left_box .mokup {
    text-align: center;
    font-size: 16px;
    color: #999;
}

.kt .inner .left_box .mokup .mokup_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3.5rem;
}

.kt .inner .left_box .mokup .mokup_wrap .mobile_01 {
    background: url('../img/03_project/mokup-mobile-2.png') center center / 100% no-repeat;
    width: 25rem;
    height: 50rem;
    position: relative;
}

.kt .inner .left_box .mokup .mokup_wrap .mobile_box_01 {
    width: 22.5rem;
    height: 47.5rem;
    overflow: hidden;
    border-radius: 27px;
    position: absolute;
    left: 12px;
    top: 13px;
}

.kt .inner .left_box .mokup .mokup_wrap .mobile_box_01:hover img {
    animation: ktSlide 12s infinite alternate ease-in-out;
}

@keyframes ktSlide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-68%);
    }

    100% {
        transform: translateY(0);
    }
}

.kt .inner .left_box .mokup .mokup_wrap .mobile_box_01 img {
    width: 100%;
}

.kt .inner .left_box .mokup .mokup_wrap .mobile_02:hover img {
    animation: ktSlide 12s infinite alternate ease-in-out;
}

@keyframes ktSlide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-68%);
    }

    100% {
        transform: translateY(0);
    }
}

.kt .inner .left_box .mokup .mokup_wrap .mobile_02 {
    background: url('../img/03_project/mokup-mobile-2.png') center center / 100% no-repeat;
    width: 25rem;
    height: 50rem;
    position: relative;
}

.kt .inner .left_box .mokup .mokup_wrap .mobile_box_02 {
    width: 22.5rem;
    height: 47.5rem;
    overflow: hidden;
    border-radius: 27px;
    position: absolute;
    left: 12px;
    top: 13px;
}

.kt .inner .left_box .mokup .mokup_wrap .mobile_box_02 img {
    width: 100%;
}

.kt .inner .right_box .text .tit h3 {
    position: relative;
}

.kt .inner .right_box .text .tit h3::before {
    content: '';
    background: url('../img/03_project/kt멤버십_QR.jpg') center center / 100% no-repeat;
    width: 5rem;
    height: 5rem;
    background-color: #555;
    position: absolute;
    left: 23rem;
    top: 50%;
    transform: translateY(-50%);
}

/* design --------------------------------------- */
.design_mobile {
    display: none;
}

.design_pc {
    width: 100%;
    padding-top: 18rem;
}

.design_pc .inner {
    max-width: 150.4rem;
    width: calc(100% - 4rem);
    margin: 0 auto;
    text-align: center;
}

.design_pc .inner .text p {
    font-size: 20px;
    margin-bottom: 15px;
}

.design_pc .inner .text span {
    font-size: 16px;
    color: #999;
}

.design_pc .inner .image_wrap {
    width: 100%;
}

.design_pc .inner .image_wrap .image_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.design_pc .inner .image_wrap .image_box .first_wrap {
    width: 32%;
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
}

.design_pc .inner .image_wrap .image_box .first_wrap .item-01 {
    width: 100%;
    max-height: 67.2rem;
    height: 44.68vw;
    background-color: #ddd;
}

.design_pc .inner .image_wrap .image_box .first_wrap .item-01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design_pc .inner .image_wrap .image_box .first_wrap .item-02 {
    width: 100%;
    max-height: 48rem;
    height: 32.04vw;
    background-color: #ddd;
}

.design_pc .inner .image_wrap .image_box .first_wrap .item-02 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design_pc .inner .image_wrap .image_box .first_wrap .item-03 {
    width: 100%;
    max-height: 48rem;
    height: 32.04vw;
    background-color: #ddd;
}

.design_pc .inner .image_wrap .image_box .first_wrap .item-03 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design_pc .inner .image_wrap .image_box .second_wrap {
    width: 32%;
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
}

.design_pc .inner .image_wrap .image_box .second_wrap .item-01 {
    width: 100%;
    max-height: 48rem;
    height: 32.04vw;
    background-color: #ddd;
}

.design_pc .inner .image_wrap .image_box .second_wrap .item-01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design_pc .inner .image_wrap .image_box .second_wrap .tit {
    width: 100%;
    max-height: 67.2rem;
    height: 44.68vw;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.design_pc .inner .image_wrap .image_box .second_wrap .tit h4 {
    font-size: 5rem;
    color: #fff;
}

.design_pc .inner .image_wrap .image_box .second_wrap .item-03 {
    width: 100%;
    max-height: 48rem;
    height: 32.04vw;
    background-color: #ddd;
}

.design_pc .inner .image_wrap .image_box .second_wrap .item-03 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design_pc .inner .image_wrap .image_box .third_wrap {
    width: 32%;
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
}

.design_pc .inner .image_wrap .image_box .third_wrap .item-01 {
    width: 100%;
    max-height: 48rem;
    height: 32.04vw;
    background-color: #ddd;
}

.design_pc .inner .image_wrap .image_box .third_wrap .item-01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design_pc .inner .image_wrap .image_box .third_wrap .item-02 {
    width: 100%;
    max-height: 48rem;
    height: 32.04vw;
    background-color: #ddd;
}

.design_pc .inner .image_wrap .image_box .third_wrap .item-02 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design_pc .inner .image_wrap .image_box .third_wrap .item-03 {
    width: 100%;
    max-height: 67.2rem;
    height: 44.68vw;
    background-color: #ddd;
}

.design_pc .inner .image_wrap .image_box .third_wrap .item-03 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* contact -------------------------------------- */
.contact {
    width: 100%;
    padding-top: 18rem;
}

.contact .inner {
    max-width: 150.4rem;
    width: calc(100% - 4rem);
    margin: 0 auto;
}

.contact .inner .text {
    text-align: center;
    font-size: 3.5rem;
    padding-top: 20rem;
    line-height: 1.8;
    transition: 0.7s;
}
.contact .inner .text .text_mobile {
    display: none;
}
.contact .inner .text span {
    color: #000;
    background-color: #fff;
}
.contact .inner .icon {
    padding-top: 20rem;
}
.contact .inner .icon ul {
    display: flex;
    justify-content: space-between;
}

.contact .inner .icon ul li {
    width: 32%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border: 1px solid #fff;
}

.contact .inner .icon ul li img {
    height: 3.5rem;
}

.contact .inner .icon ul li p {
    font-size: 25px;
}
.contact .inner .icon ul li p {
    font-size: 25px;
}
.contact .inner .icon .github:hover {
    color: #333;
    background-color: #fff;
    cursor: pointer;
}
.contact .inner .icon .github a {
    display: flex;
    gap: 3rem;
}

.contact .pdf {
    margin-top: 8rem;
}

.contact .pdf ul {
    display: flex;
}

.contact .pdf ul li {
    width: 50%;
    height: 5rem;
    font-size: 20px;
    border: 1px solid #fff;
}

.contact .pdf ul li a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.contact .pdf ul li a img {
    width: 4rem;
}

.contact .pdf ul li a .white {
    display: none;
}

.contact .pdf ul li:nth-child(1) {
    border-left: 0;
    border-right: 0;
}

.contact .pdf ul li:nth-child(1):hover {
    background-color: #fff;
    color: #000;
}

.contact .pdf ul li:nth-child(1):hover .black {
    display: none;
}

.contact .pdf ul li:nth-child(1):hover .white {
    display: block;
}

.contact .pdf ul li:nth-child(2) {
    border-right: 0;
}

.contact .pdf ul li:nth-child(2):hover {
    background-color: #fff;
    color: #000;
}

.contact .pdf ul li:nth-child(2):hover .black {
    display: none;
}

.contact .pdf ul li:nth-child(2):hover .white {
    display: block;
}

.contact .copy {
    font-size: 16px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
}


@media screen and (max-width: 1280px) {

    /* about ------------------------------------ */
    .about .inner {
        align-items: center;
    }

    .about .inner .info {
        gap: 5rem;
    }

    .about .inner .info .certificate ul li {
        display: block;
    }

    .about .inner .info .certificate ul li span {
        display: block;
    }

    .about .inner .info .education ul li {
        display: block;
    }

    .about .inner .info .education ul li span {
        display: block;
    }

    .about .inner .info h2 {
        margin-bottom: 2.5rem;
    }

    .about .inner .info .skill .icon {
        gap: 15px;
    }

    .about .inner .info .skill .icon li {
        height: 4rem;
    }

    /* project ---------------------------------- */
    .project .inner .right_box .text .tit h3 {
        font-size: 4rem;
    }

    .project .inner .right_box .text .tit p {
        font-size: 18px;
    }

    .project .inner .right_box .text .info {
        margin-top: 4rem;
    }

    .project .inner .right_box .text .info ul li {
        font-size: 18px;
    }

    .project .inner .btn button {
        width: 18rem;
        height: 5.7rem;
    }

    .project .inner .right_box .text .info ul li span:nth-child(1) {
        margin-right: 3rem;
    }

    .project .inner .btn button {
        margin-top: 4rem;
    }

    .project .inner .btn .process {
        margin-right: 2rem;
    }

    .project .inner .left_box .mokup .mobile {
        width: 12.9rem;
        height: 26.3rem;
    }

    .project .inner .left_box .mokup .mobile .moblie_box {
        width: 11.7rem;
        height: 25.3rem;
        left: 6px;
        top: 5px;
        border-radius: 15px;
    }
    .vasol .inner .right_box .text .tit h3::before {
        left: 15rem;
    }
    .crocs .inner .right_box .text .tit h3::before {
        left: 15rem;
    }
    .kt .inner .left_box .mokup .mokup_wrap .mobile_01 {
        width: 20rem;
        height: 40rem;
    }

    .kt .inner .left_box .mokup .mokup_wrap .mobile_box_01 {
        width: 18.5rem;
        height: 38.3rem;
        border-radius: 26px;
        left: 7px;
        top: 9px;
    }

    .kt .inner .left_box .mokup .mokup_wrap .mobile_02 {
        width: 20rem;
        height: 40rem;
    }

    .kt .inner .left_box .mokup .mokup_wrap .mobile_box_02 {
        width: 18.5rem;
        height: 38.3rem;
        border-radius: 26px;
        left: 7px;
        top: 9px;
    }

    .kt .inner .right_box .text .tit h3::before {
        left: 18rem;
    }

    /* contact ---------------------------------- */
    .contact .inner .text {
        font-size: 3rem;
    }

    .contact .inner .icon ul li {
        height: 8rem;
    }

    .contact .inner .icon ul li p {
        font-size: 20px;
    }

    .contact .pdf ul li {
        height: 4rem;
        font-size: 18px;
    }

    .contact .pdf ul li a img {
        width: 3.5rem;
    }

    .contact .pdf ul li a {
        gap: 1rem;
    }
}

/* 1280 */


@media screen and (max-width: 1100px) {

    /* header ----------------------------------- */
    .header .inner .nav .gnb {
        font-size: 2.3rem;
    }

    /* project ---------------------------------- */
    .project .inner .left_box .mokup .mobile {
        width: 10.9rem;
        height: 24.3rem;
    }

    .project .inner .left_box .mokup .mobile .moblie_box {
        width: 10rem;
        height: 21.5rem;
        left: 5px;
        top: 14.5px;
        border-radius: 15px;
    }
}

/* 1100 */


@media screen and (max-width: 960px) {

    /* intro ------------------------------------ */
    .intro {
        height: 130rem;
    }

    .intro .inner {
        max-width: 90rem;
        width: calc(100% - 6rem)
    }

    .intro .inner .text {
        font-size: 18px;
        padding-top: 4rem;
    }

    .intro .inner .tit {
        font-size: 25vw;
        margin: 30rem 0;
        position: static;
        transform: none;
    }

    .intro .inner .tit .tit_wrap {
        flex-wrap: wrap;
        gap: 8rem;
    }

    .intro .inner .tit .tit_wrap ul .p {
        padding-right: 13vw;
    }

    .intro .inner .tit .tit_wrap ul .p::before {
        width: 23vw;
        height: 25vw;
    }

    .intro .inner .tit .tit_wrap ul .f {
        padding-right: 16vw;
    }

    .intro .inner .tit .tit_wrap ul .f::before {
        width: 23vw;
        height: 25vw;
    }

    .intro .inner .tit .tit_wrap ul .i {
        padding-right: 15vw;
    }

    .intro .inner .tit .tit_wrap ul .i::before {
        width: 22vw;
        height: 25vw;
        right: -16%;
    }

    .intro .inner .scroll {
        bottom: 10rem;
    }

    /* header ----------------------------------- */
    .header .inner {
        width: calc(100% - 6rem);
        height: 7rem;
    }

    .header .inner .logo {
        width: 5.8rem;
    }

    .header .inner .nav .gnb {
        font-size: 20px;
    }

    /* about ------------------------------------ */
    .about {
        padding-top: 15rem;
    }

    .about .inner {
        max-width: 90rem;
        width: calc(100% - 6rem);
        justify-content: center;
    }

    .about .inner .info {
        width: 50%;
        gap: 4rem;
    }

    .about .inner .deta {
        width: 30%;
    }

    .about .inner .deta .text {
        margin-top: 3rem;
    }

    .about .inner .deta .text ul {
        font-size: 16px;
    }

    .about .inner .deta .text ul>li>span:nth-child(1) {
        width: 7rem;
    }

    .about .inner .info h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .about .inner .info .certificate ul {
        padding-left: 20px;
        border-left: 3px solid #ddd;
    }

    .about .inner .info .certificate ul li span:nth-child(1) {
        font-size: 16px;
    }

    .about .inner .info .certificate ul li span:nth-child(2) {
        font-size: 14px;
    }

    .about .inner .info .education ul {
        padding-left: 20px;
        border-left: 3px solid #ddd;
    }

    .about .inner .info .education ul li span:nth-child(1) {
        font-size: 16px;
    }

    .about .inner .info .education ul li span:nth-child(2) {
        font-size: 14px;
    }

    .about .inner .info .skill h2::after {
        display: none;
    }

    .about .inner .info .skill .text li.on {
        display: none;
    }

    .about .inner .info .skill .icon {
        gap: 13px;
    }

    .about .inner .info .skill .icon li {
        height: 3.5rem;
    }

    .about .inner .info .skill .text {
        margin-top: 15px;
    }

    .about .inner .info .skill h2::after {
        font-size: 14px;
    }

    /* project ---------------------------------- */
    .project {
        padding-top: 15rem;
    }
    .project .inner {
        max-width: 90rem;
        width: calc(100% - 6rem);
    }
    .project .inner .left_box .mokup .pc p {
        display: none;
    }

    .project .inner .right_box .text .tit h3 {
        font-size: 3.5rem;
    }

    .project .inner .right_box .text .tit p {
        font-size: 16px;
    }

    .project .inner .right_box .text .info {
        margin-top: 3rem;
    }

    .project .inner .right_box .text .info ul {
        gap: 15px;
    }

    .project .inner .right_box .text .info ul li {
        font-size: 16px;
    }

    .project .inner .btn button {
        width: 14.5rem;
        height: 4.5rem;
    }

    .project .inner .btn .process {
        font-size: 16px;
    }

    .project .inner .btn .website {
        font-size: 16px;
    }
    .vasol .inner .right_box .text .tit h3::before {
        left: 14rem;
    }
    .crocs .inner .right_box .text .tit h3::before {
        left: 14rem;
    }

    .kt .inner .left_box .mokup p {
        display: none;
    }

    .kt .inner .left_box .mokup .mokup_wrap .mobile_01 {
        width: 16rem;
        height: 36rem;
    }

    .kt .inner .left_box .mokup .mokup_wrap .mobile_box_01 {
        width: 15rem;
        height: 30.8rem;
        border-radius: 20px;
        left: 5px;
        top: 27px;
    }

    .kt .inner .left_box .mokup .mokup_wrap .mobile_02 {
        width: 16rem;
        height: 36rem;
    }

    .kt .inner .left_box .mokup .mokup_wrap .mobile_box_02 {
        width: 15rem;
        height: 30.8rem;
        border-radius: 20px;
        left: 5px;
        top: 27px;
    }

    .kt .inner .right_box .text .tit h3::before {
        left: 16rem;
    }

    /* design ----------------------------------- */
    .design_pc {
        padding-top: 15rem;
    }

    .design_pc .inner {
        max-width: 90rem;
        width: calc(100% - 6rem)
    }

    .design_pc .inner .text p {
        font-size: 16px;
    }

    .design_pc .inner .text span {
        font-size: 14px;
    }

    .design_pc .inner .image_wrap {
        margin-top: 3rem;
    }
    .design_pc .inner .image_wrap .image_box .first_wrap {
        row-gap: 1.5rem;
    }
    .design_pc .inner .image_wrap .image_box .second_wrap {
        row-gap: 1.5rem;
    }
    .design_pc .inner .image_wrap .image_box .third_wrap {
        row-gap: 1.5rem;
    }
    .design_pc .inner .image_wrap .image_box .second_wrap .tit h4 {
        font-size: 3rem;
    }

    /* contact ---------------------------------- */
    .contact {
        padding-top: 15rem;
    }
    .contact .inner {
        max-width: 90rem;
        width: calc(100% - 6rem)
    }
    .contact .inner .text {
        padding-top: 36rem;
    }
    .contact .inner .icon {
        padding-top: 36.5rem;
    }
    .contact .inner .icon ul li {
        height: 7.5rem;
        gap: 15px;
    }
    .contact .inner .icon .github a {
        gap: 15px;
    }
    .contact .inner .icon ul li img {
        height: 2.2rem;
    }
    .contact .pdf {
        margin-top: 6rem;
    }
    .contact .pdf ul li {
        font-size: 16px;
    }

    .contact .pdf ul li a img {
        width: 3rem;
    }
    .contact .copy {
        margin-top: 16rem;
        margin-bottom: 5rem;
    }
}

/* 960 */


@media screen and (max-width: 840px) {

    /* about ------------------------------------ */
    .about .inner {
        gap: 3vw;
    }
    .about .inner .deta {
        width: 35%;
    }
    .about .inner .info {
        width: 45%;
    }
    .about .inner .info .skill .icon {
        flex-wrap: wrap;
    }
    .about .inner .deta .text ul {
        font-size: 15px;
        white-space: nowrap;
    }
    .about .inner .deta .text ul>li>span:nth-child(1) {
        width: 6rem;
    }

    /* project ---------------------------------- */
    .project .inner .left_box .mokup .mobile {
        width: 8.9rem;
        height: 18.3rem;
    }

    .project .inner .left_box .mokup .mobile .moblie_box {
        width: 8.1rem;
        height: 17.6rem;
        left: 4px;
        top: 4.5px;
        border-radius: 11.5px
    }
    .kt .inner .left_box .mokup .mokup_wrap .mobile_01 {
        width: 13rem;
        height: 33rem;
    }
    .kt .inner .left_box .mokup .mokup_wrap .mobile_box_01 {
        width: 12rem;
        height: 24.8rem;
        border-radius: 16px;
        left: 5px;
        top: 41px;
    }
    .kt .inner .left_box .mokup .mokup_wrap .mobile_02 {
        width: 13rem;
        height: 33rem;
    }
    .kt .inner .left_box .mokup .mokup_wrap .mobile_box_02 {
        width: 12rem;
        height: 24.8rem;
        border-radius: 16px;
        left: 5px;
        top: 41px;
    }
    .project .inner .btn button {
        width: 13.5rem;
    }

    .project .inner .btn .process {
        margin-right: 10px;
    }

    /* contact ---------------------------------- */
    .contact .inner .text {
        font-size: 2.5rem;
    }
    .contact .inner .text {
        padding-top: 15rem;
    }
    .contact .inner .text .text_pc {
        display: none;
    }
    .contact .inner .text .text_mobile {
        display: block;
    }
    .contact .inner .icon {
        padding-top: 20rem;
    }
    .contact .inner .icon ul li {
        height: 6.5rem;
        gap: 10px;
    }
    .contact .inner .icon ul li p {
        font-size: 16px;
    }
    .contact .copy {
        font-size: 14px;
        margin-top: 5rem;
    }
}/* 840 */

@media screen and (max-width: 750px) {

    /* intro ------------------------------------ */
    .intro {
        height: 100rem;
    }
    .about .inner {
        gap: 3rem;
    }
    .intro .inner .text ul {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        font-size: 16px;
    }
    .intro .inner .qr_mobile {
        opacity: 0;
        transition: 0.7s;
    }
    .intro .inner .tit {
        margin: 25rem 0;
    }
    .intro .inner .scroll {
        bottom: 5rem;
    }
    
    /* header ----------------------------------- */
    .header .inner .nav {
        display: none;
    }
    .header .inner .nav_mobile{
        display: block;
        position: relative;
    }
    .header .inner .nav_mobile button {
        width: 8rem;
        height: 3rem;
        font-size: 15px;
        background-color: #000;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;
    }
    .header .inner .nav_mobile ul {
        position: absolute;
        left: 50%;
        top: 3.5rem;
        transform: translateX(-50%);
        display: none;
    }
    .header .inner .nav_mobile ul.on {
        display: block;
    }
    .header .inner .nav_mobile ul li {
        width: 8rem;
        height: 3rem;
        font-size: 15px;
        background-color: #000;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;
        text-align: center;
        line-height: 3rem;
        margin-top: 5px;
    }

    /* about ------------------------------------ */
    .about {
        width: fit-content;
        margin: 0 auto;
        padding-top: 13rem;
    }
    .about .inner {
        flex-direction: column;
    }
    .about .inner .deta {
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
    }
    .about .inner .deta .image {
        width: 16.5rem;
        height: 21.2rem;
    }
    .about .inner .deta .text {
        margin-top: 0;
        width: fit-content;
    }
    .about .inner .info {
        width: fit-content;
        padding-top: 3rem;
        border-top: 1px solid #eee;
    }
    .about .inner .info .education ul li span:nth-child(1) {
        white-space: nowrap;
    }
    .about .inner .info .skill .icon {
        gap: 10px;
    }
    .about .inner .info .skill .icon li {
        height: 3rem;
    }

    /* project ---------------------------------- */
    .project {
        padding-top: 13rem;
    }
    .project .inner {
        flex-direction: column;
        align-items: center;
        row-gap: 4rem;
    }
    .project .inner .right_box .text .tit p {
        white-space: nowrap;
    }
    .project .inner .right_box .text .tit h3 {
        font-size: 3rem;
        margin-bottom: 15px;
    }
    .project .inner .left_box {
        width: 60%;
    }
    .kt .inner .left_box .mokup .mokup_wrap {
        margin-top: 0;
    }
    .project .inner .left_box .mokup .pc {
        width: 51.88vw;
        height: 44.76vw;
    }
    .project .inner .left_box .mokup .pc .pc_box {
        width: 49.3vw;
        height: 28vw;
        left: 1.3vw;
        top: 1.7vw;
    }
    .project .inner .right_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project .inner .left_box .mokup .mobile {
        right: -5%;
    }
    .vasol .inner .right_box .text .tit h3::before {
        left: 12rem;
    }
    .crocs .inner .right_box .text .tit h3::before {
        left: 12rem;
    }
    .kt .inner .right_box .text .tit h3::before {
        left: 14rem;
    }
    .project .inner .btn button {
        width: 14.5rem;
    }

    /* design ----------------------------------- */
    .design_pc {
        padding-top: 13rem;
    }
    .design_pc .inner .image_wrap .image_box .first_wrap {
        row-gap: 1rem;
    }
    .design_pc .inner .image_wrap .image_box .second_wrap {
        row-gap: 1rem;
    }
    .design_pc .inner .image_wrap .image_box .third_wrap {
        row-gap: 1rem;
    }

    /* contact ---------------------------------- */
    .contact .inner .icon ul {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .contact .inner .icon ul li {
        width: 100%;
        gap: 20px;
    }
    .contact .inner .icon .github a {
        gap: 20px;
    }
    .contact .copy {
        margin-top: 10rem;
        margin-bottom: 3rem;
    }
}/* 750 */


@media screen and (max-width: 550px) {
    
    /* intro ------------------------------------ */
    .intro {
        height: 84.5rem;
    }
    .intro .inner {
        width: calc(100% - 4rem);
    }
    .intro .inner .text {
        padding-top: 3rem;
    }
    .intro .inner .text ul {
        font-size: 14px;
    }
    .intro .inner .tit {
        margin: 18rem 0;
    }
    .intro .inner .tit .tit_wrap {
        gap: 3rem;
    }
    .intro .inner .scroll {
        bottom: 1rem;
    }
    .intro .inner .scroll .scroll_btn {
        width: 18px;
    }
    .intro .inner .scroll .scroll_btn img {
        width: 100%;
    }

    /* abot ------------------------------------- */
    .about {
        padding-top: 8rem;
    }
    .about .inner {
        width: calc(100% - 4rem);
    }
    .about .inner .deta {
        flex-direction: column;
        gap: 2.5rem;
    }
    .about .inner .info .education ul li span:nth-child(1) {
        white-space: wrap;
    }
    
    /* header ----------------------------------- */
    .header .inner {
        width: calc(100% - 4rem);
        height: 5rem;
    }
    .header .inner .logo {
        width: 3.7rem;
    }
    .header .inner .nav_mobile button {
        width: 7rem;
        font-size: 14px;
    }
    .header .inner .nav_mobile ul li {
        width: 7rem;
        font-size: 14px;
    }

    /* project ---------------------------------- */
    .project {
        padding-top: 8rem;
    }
    .project .inner {
        width: calc(100% - 4rem);
    }
    .project .inner .left_box {
        width: 73%;
        margin: auto;
    }
    .project .inner .right_box {
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 3rem;
    }
    .project .inner .left_box .mokup .pc {
        width: 62.88vw;
        height: 56.76vw
    }.project .inner .left_box .mokup .pc .pc_box {
        width: 59.5vw;
        height: 34vw;
        left: 1.7vw;
        top: 3.3vw;
    }
    .project .inner .right_box .text .tit h3 {
        margin-bottom: 5px;
    }
    .project .inner .right_box .text .tit p {
        white-space: wrap;
    }
    .vasol .inner .right_box .text .tit h3::before {
        display: none;
    }
    .crocs .inner .right_box .text .tit h3::before {
        display: none;
    }
    .kt .inner .right_box .text .tit h3::before {
        display: none;
    }

    /* design ----------------------------------- */ 
    .design_pc {
        display: none;
    }
    .design_mobile {
        display: block;
        padding-top: 8rem;
    }
    .design_mobile .inner {
        width: calc(100% - 4rem);
        margin: 0 auto;
        padding-top: 5rem;
    }
    .design_mobile .inner .text {
        text-align: center;
    }
    .design_mobile .inner .text p {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .design_mobile .inner .text span {
        font-size: 14px;
        color: #999;
    }
    .design_mobile .inner .image_wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;

        margin-top: 3rem;
    }
    .design_mobile .inner .image_wrap .left_wrap {
        width: 49%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .design_mobile .inner .image_wrap .left_wrap .item-01 {
        width: 100%;
        max-height: 23.1rem;
        height: 66vw;
    }
    .design_mobile .inner .image_wrap .left_wrap .item-01 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .design_mobile .inner .image_wrap .left_wrap .item-02 {
        width: 100%;
        max-height: 23.1rem;
        height: 66vw;
        background-color: #000;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .design_mobile .inner .image_wrap .left_wrap .item-02 h4 {
        font-size: 18px;
    }
    .design_mobile .inner .image_wrap .left_wrap .item-03 {
        width: 100%;
        max-height: 16.5rem;
        height: 47.14vw;
    }
    .design_mobile .inner .image_wrap .left_wrap .item-03 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .design_mobile .inner .image_wrap .left_wrap .item-04 {
        width: 100%;
        max-height: 27.4rem;
        height: 78.28vw;
    }
    .design_mobile .inner .image_wrap .left_wrap .item-04 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .design_mobile .inner .image_wrap .right_wrap {
        width: 49%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .design_mobile .inner .image_wrap .right_wrap .item-01 {
        width: 100%;
        max-height: 16.5rem;
        height: 47.14vw;
    }
    .design_mobile .inner .image_wrap .right_wrap .item-01 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .design_mobile .inner .image_wrap .right_wrap .item-02 {
        width: 100%;
        max-height: 16.5rem;
        height: 47.14vw;
    }
    .design_mobile .inner .image_wrap .right_wrap .item-02 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .design_mobile .inner .image_wrap .right_wrap .item-03 {
        width: 100%;
        max-height: 23.1rem;
        height: 66vw;
    }
    .design_mobile .inner .image_wrap .right_wrap .item-03 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .design_mobile .inner .image_wrap .right_wrap .item-04 {
        width: 100%;
        max-height: 16.5rem;
        height: 47.14vw;
    }
    .design_mobile .inner .image_wrap .right_wrap .item-04 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .design_mobile .inner .image_wrap .right_wrap .item-05 {
        width: 100%;
        max-height: 16.5rem;
        height: 47.14vw;
    }
    .design_mobile .inner .image_wrap .right_wrap .item-05 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* contact ---------------------------------- */
    .contact {
        padding-top: 8rem;
    }
    .contact .inner {
        width: calc(100% - 4rem);
    }
    .contact .inner .text {
        font-size: 18px;
    }
    .contact .inner .icon ul li {
        height: 5rem;
    }
    .contact .pdf {
        width: calc(100% - 4rem);
        margin: 0 auto;
        margin-top: 8rem;
    }
    .contact .pdf ul li {
        font-size: 14px;
    }
    .contact .pdf ul li:nth-child(1) {
        border-left: 1px solid #fff;
    }
    .contact .pdf ul li:nth-child(2) {
        border-right: 1px solid #fff;
    }
    .contact .copy {
        margin-top: 4rem;
        margin-bottom: 3rem;
        margin-left: 20px;
    }
}/* 550 */

@media screen and (max-width: 430px) {

    /* project ---------------------------------- */
    .project .inner .left_box {
        width: 100%;
    }
    .project .inner .left_box .mokup .pc {
        width: 32rem;
        height: 27rem;
    }
    .project .inner .left_box .mokup .pc .pc_box {
        width: 30.3rem;
        height: 17.2rem;
        left: 9px;
        top: 8px;
    }
    .project .inner .left_box .mokup .mobile {
        width: 8rem;
        height: 16rem;
    }
    .project .inner .left_box .mokup .mobile .moblie_box {
        width: 7.2rem;
        height: 15.5rem;
        left: 4.3px;
        top: 1.5px;
        border-radius: 9px;
    }
    .project .inner .right_box {
        margin-left: 0;
    }
}/* 430 */
