@font-face {
    font-family: 'WAGURI';
    src: url('WAGURI-Regular.eot');
    src: url('WAGURI-Regular.eot?#iefix') format('embedded-opentype'),
        url('WAGURI-Regular.woff2') format('woff2'),
        url('WAGURI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WAGURI TTF';
    src: url('WAGURITTF.eot');
    src: url('WAGURITTF.eot?#iefix') format('embedded-opentype'),
        url('WAGURITTF.woff2') format('woff2'),
        url('WAGURITTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

